<div class="card border-primary">
    <div class="card-body">
        <h5 class="card-title">Mdr Bank</h5>
        <div>
            <!-- SEARCH -->
            <form>
                <div class="form-group"></div>
                <div class="row">
                    <div class="col-md-3 mb-3">
                        <label for="bankNameInput">Bank Name</label>
                        <input type="text" class="form-control" id="bankName"
                            [(ngModel)]='searchTerm.bankName' name="searchBankName"
                            placeholder="Enter Bank Name">
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="bankCodeInput">Bank Code</label>
                        <input type="text" class="form-control" id="bankCode"
                            [(ngModel)]='searchTerm.bankCode' name="searchBankCode"
                            placeholder="Enter Bank Code">
                    </div>
                </div>
                <div class="btn-group" role="group">
                    <button type="submit" (click)="onFilter()" class="btn mr-2 btn-outline-success btn-sm">Search <i
                            class="fa fa-search fa-lg"></i></button>
                    <button type="button" (click)="resetFilter()" class="btn btn-outline-danger btn-sm">Reset <i
                            class="fa fa-refresh fa-lg"></i></button>
                    <button type="button" class="btn btn-outline-primary btn-sm" (click)="open('addnew', null)">Add
                        <i class="fa fa-plus-circle fa-lg"></i>
                    </button>
                </div>
            </form>
        </div>
        <div style="height:400px; padding: 15px 15px 15px 15px; ">
            <table class="table table-sm table-hover table-striped">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Bank Name</th>
                        <th scope="col">Bank Code</th>
                        <th scope="col">Doku Bank Code</th>
                        <th scope="col">Acquiring Status</th>
                        <th scope="col">Sequence</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let mdrBank of mdrBankList">
                        <td><button type="button" (click)="open('edit', mdrBank)"
                                class="btn btn-outline-success btn-sm">
                                <i class="fa fa-list"></i>
                            </button>
                            <button type="button" (click)="delete(mdrBank)"
                                class="btn btn-outline-danger btn-sm">
                                <i class="fa fa-trash"></i>
                            </button></td>
                        <td>{{mdrBank.bankName}}</td>
                        <td>{{mdrBank.bankCode}}</td>
                        <td>{{mdrBank.dokuBankCode}}</td>
                        <td>{{mdrBank.acquiringStatus}}</td>
                        <td>{{mdrBank.seq}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <ngb-pagination size="sm" [collectionSize]="totalData" [(page)]="currPage" [maxSize]="totalRecord"
            (pageChange)="loadPage()" [boundaryLinks]="true"></ngb-pagination>
    </div>
</div>