<form>
    <div class="modal-header">
            <h4 class="modal-title">
                <span class="badge badge-light">Change Password</span> 
            </h4>
        </div>
        <div class="modal-body">
                <div class="form-group" *ngIf="route === '/'">
                    <label>User Name</label>
                    <input type="text" class="form-control" style="font-size: 12px" name="user" [(ngModel)]="userName"
                        placeholder="User Name" required>
                </div>
                <div class="form-group">
                    <label>Old Password</label>
                    <div class="d-flex flex-row">
                        <input type="{{inputType}}" class="form-control"  style="font-size: 12px" name ="pass" [(ngModel)]="credential.oldPass"  placeholder="Old Password" required>
                        <div class="input-group-prepend" (click)="showPassword()">
                            <span class="input-group-text btn" id="basic-addon1"><i class="fa fa-{{showHideIcon}}"></i></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>New Password</label>
                    <div class="d-flex flex-row">
                        <input type="{{inputType1}}" class="form-control"  style="font-size: 12px" name ="pass" [(ngModel)]="credential.newPass" placeholder="New Password" required>
                        <div class="input-group-prepend" (click)="showPassword1()">
                            <span class="input-group-text btn" id="basic-addon1"><i class="fa fa-{{showHideIcon1}}"></i></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Confirm New Password</label>
                    <div class="d-flex flex-row">
                        <input type="{{inputType2}}" class="form-control"  style="font-size: 12px" name ="pass" 
                            [(ngModel)]="credential.confirmNewPass"
                            (keyup)="onKey()"  
                            placeholder="Confirm New Password"  required>
                            <small style="color: red !important;" class="form-text text-muted">{{errMsg}}</small>
                        <div class="input-group-prepend" (click)="showPassword2()">
                            <span class="input-group-text btn" id="basic-addon1"><i class="fa fa-{{showHideIcon2}}"></i></span>
                        </div>
                    </div>
                </div>
            
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-outline-warning" (click) = "save()" [disabled] = "confirmStatus === false" *ngIf="route != '/'">Save
                <i class="fa fa-sace fa-lg"></i>
            </button>
            <button type="submit" class="btn btn-outline-warning" (click)="update()" [disabled]="confirmStatus === false" *ngIf="route === '/'">Update
                <i class="fa fa-sace fa-lg"></i>
            </button>
            <button type="button" class="btn btn-outline-danger" (click)="closeForm('close with button cancel')">cancel
                <i class="fa fa-times fa-lg"></i>
            </button>
        </div>
</form>

