<div class="card border-primary" style="overflow: scroll;">
  <div class="card-body">
    <h5 class="card-title">Fee Mdr Setting Merchant</h5>
    <div>
      <!-- SEARCH -->
      <form>
        <div class="row">
          <!-- <div class="col-md-3 mb-3 mt-2">
            <label for="issuerNameInput">Product ID</label>
            <input type="number" class="form-control" id="inputProductID" [(ngModel)]='searchTerm.id'
            name="searchID" placeholder="Enter Product ID">
          </div> -->
          <div class="col-md-3 mb-3 mt-2">
            <label for="issuerNameInput">Mid Merchant</label>
            <input type="text" class="form-control" id="inputMidMerchant" [(ngModel)]='searchTerm.midMerchant'
              name="searchCode" placeholder="Enter MID Merchant">
          </div>
          <div class="col-md-3 mb-3 mt-2">
            <label for="issuerNameInput">Store Name</label>
            <input type="text" class="form-control" id="inputStoreName" [(ngModel)]='searchTerm.storeName' name="searchCode"
              placeholder="Enter Store Name">
          </div>
          <div class="col-md-3 mb-3 mt-2">
            <label for="institutionIdInput">Mid Bank</label>
            <input type="text" class="form-control" id="inputMidBank" [(ngModel)]='searchTerm.midBank'
              name="searchName" placeholder="Enter MID Bank">
          </div>
          <div class="col-md-3 mb-3 mt-2">
            <label for="role">Bank</label>
            <input type="text" class="form-control" id="inputBank" [(ngModel)]='searchTerm.bank'
              name="searchTitle" placeholder="Enter Bank Name">
          </div>
          <div class="col-md-3 mb-3 mt-2">
            <label for="role">Tenor</label>
            <input type="text" class="form-control" id="inputTenor" [(ngModel)]='searchTerm.tenor'
              name="searchTitle" placeholder="Enter Tenor">
          </div>
        </div>
        <button type="submit" (click)="onFilter()" class="btn mr-1 btn-outline-success btn-sm">Search <i
            class="fa fa-search fa-lg"></i></button>
        <button type="button" (click)="resetFilter()" class="btn  mr-1 btn-outline-danger btn-sm">Reset <i
            class="fa fa-refresh fa-lg"></i></button>
        <button type="button" class="btn btn-outline-primary btn-sm" (click)="open('addnew', null)">Addnew
          <i class="fa fa-plus-circle fa-lg"></i>
        </button>
      </form>
    </div>
    <div style="padding: 15px 15px 15px 15px; ">
      <table class="table table-sm table-hover table-striped mt-2">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Store Name</th>
            <th scope="col">MID Merchant</th>
            <th scope="col">MID Bank</th>
            <th scope="col">Secret ID</th>
            <th scope="col">Bank</th>
            <th scope="col">Tenor</th>
            <th scope="col">Plan ID</th>
            <th scope="col">Bank MDR Debit</th>
            <th scope="col">Bank MDR Credit</th>
            <th scope="col">Merchant MDR Debit</th>
            <th scope="col">Merchant MDR Credit</th>
            <th scope="col">Merchant Fee type</th>
            <th scope="col">Merchant Fee</th>
            <th scope="col">Customer Fee type</th>
            <th scope="col">Customer Fee</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let feeMdr of feeMdrList">
            <td><button type="button" (click)="open('edit', feeMdr)" class="btn btn-outline-success btn-sm">
                <i class="fa fa-list"></i>
              </button>
            </td>
            <td>{{feeMdr.storeName}}</td>
            <td>{{feeMdr.midMerchant}}</td>
            <td>{{feeMdr.midBank}}</td>
            <td>{{feeMdr.secretId}}</td>
            <td>{{feeMdr.bank}}</td>
            <td>{{feeMdr.tenor}}</td>
            <td>{{feeMdr.planId}}</td>
            <td>{{feeMdr.bankMdr}}</td>
            <td>{{feeMdr.bankMdrCredit}}</td>
            <td>{{feeMdr.merchantMdr}}</td>
            <td>{{feeMdr.merchantMdrCredit}}</td>
            <td>{{feeMdr.merchantFeeType}}</td>
            <td>{{feeMdr.merchantFee}}</td>
            <td>{{feeMdr.customerFeeType}}</td>
            <td>{{feeMdr.customerFee}}</td>
            <td *ngIf="feeMdr.status === 'y'">active</td>
            <td *ngIf="feeMdr.status === 'n'">inactive</td>
          </tr>
        </tbody>
      </table>
    </div>

    <ngb-pagination size="sm" [collectionSize]="totalData" [(page)]="currPage" [maxSize]="totalRecord"
      (pageChange)="loadPage()" [boundaryLinks]="true"></ngb-pagination>
  </div>
</div>