<div class="card border-primary">
  <div class="card-body">
    <h5 class="card-title">Merchant Customer</h5>
    <div>
      <!-- SEARCH -->
      <form>
        <div class="row">
          <div class="col-md-3 mb-3 mt-2">
            <label for="issuerNameInput">Customer Name</label>
            <input type="text" class="form-control" id="inputUserCategoryCode" [(ngModel)]='searchTerm.name'
              name="searchCode" placeholder="Enter Customer Name">
          </div>
          <div class="col-md-3 mb-3 mt-2">
            <label for="institutionIdInput">Phone</label>
            <input type="text" class="form-control" id="inputUserCategoryName" [(ngModel)]='searchTerm.phone'
              name="searchName" placeholder="Enter Number Phone">
          </div>
        </div>
        <button type="submit" (click)="onFilter()" class="btn mr-1 btn-outline-success btn-sm">Search <i
            class="fa fa-search fa-lg"></i></button>
        <button type="button" (click)="resetFilter()" class="btn  mr-1 btn-outline-danger btn-sm">Reset <i
            class="fa fa-refresh fa-lg"></i></button>
      </form>
    </div>
    <div style="height:400px; padding: 15px 15px 15px 15px; ">
      <table class="table table-sm table-hover table-striped mt-2">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Service ID</th>
            <th scope="col">Service Name</th>
            <th scope="col">Customer Name</th>
            <th scope="col">Phone</th>
            <th scope="col">Type Name</th>
            <th scope="col">Citizen ID No</th>
            <th scope="col">Merchant</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let customer of customerList">
            <td><button type="button" (click)="open('detail', customer)" class="btn btn-outline-primary btn-sm">
                <i class="fa fa-list"></i>
              </button>
            </td>
            <td>{{customer.serviceId}}</td>
            <td>{{customer.serviceName}}</td>
            <td>{{customer.name}}</td>
            <td>{{customer.phone}}</td>
            <td>{{customer.typeName}}</td>
            <td>{{customer.citizenIdNo}}</td>
            <td>{{customer.merchant}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <ngb-pagination size="sm" [collectionSize]="totalData" [(page)]="currPage" [maxSize]="totalRecord"
      (pageChange)="loadPage()" [boundaryLinks]="true"></ngb-pagination>
  </div>
</div>
