<div class="card border-primary">
  <div class="card-body">
    <h5 class="card-title">Product Management</h5>
    <div>
      <!-- SEARCH -->
      <form>
        <div class="row">
          <!-- <div class="col-md-3 mb-3 mt-2">
            <label for="issuerNameInput">Product ID</label>
            <input type="number" class="form-control" id="inputProductID" [(ngModel)]='searchTerm.id'
            name="searchID" placeholder="Enter Product ID">
          </div> -->
          <div class="col-md-3 mb-3 mt-2">
            <label for="issuerNameInput">Code</label>
            <input type="text" class="form-control" id="inputProductCode" [(ngModel)]='searchTerm.code'
              name="searchCode" placeholder="Enter Product Code">
          </div>
          <div class="col-md-3 mb-3 mt-2">
            <label for="institutionIdInput">Name</label>
            <input type="text" class="form-control" id="inputProductName" [(ngModel)]='searchTerm.name'
              name="searchName" placeholder="Enter Product Name">
          </div>
          <div class="col-md-3 mb-3 mt-2">
            <label for="role">Title</label>
            <input type="text" class="form-control" id="inputProductTitle" [(ngModel)]='searchTerm.title'
            name="searchTitle" placeholder="Enter Product Title">
          </div>
        </div>
          <button type="submit" (click)="onFilter()" class="btn mr-1 btn-outline-success btn-sm">Search <i
              class="fa fa-search fa-lg"></i></button>
          <button type="button" (click)="resetFilter()" class="btn  mr-1 btn-outline-danger btn-sm">Reset <i
              class="fa fa-refresh fa-lg"></i></button>
          <button type="button" class="btn btn-outline-primary btn-sm" (click)="open('addnew', null)">Addnew
            <i class="fa fa-plus-circle fa-lg"></i>
          </button>
      </form>
    </div>
    <div style="height:400px; padding: 15px 15px 15px 15px; ">
      <table class="table table-sm table-hover table-striped mt-2">
        <thead>
          <tr>
            <th scope="col"></th>
            <!-- <th scope="col">Product ID</th> -->
            <th scope="col">Code</th>
            <th scope="col">Name</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Notes</th>
            <!-- <th scope="col">Sequence</th> -->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of productList">
            <td><button type="button" (click)="open('edit', product)" class="btn btn-outline-success btn-sm">
                <i class="fa fa-list"></i>
              </button>
            </td>
            <!-- <td>{{product.id}}</td> -->
            <td>{{product.code}}</td>
            <td>{{product.name}}</td>
            <td>{{product.title}}</td>
            <td>{{product.desc}}</td>
            <td>{{product.notes}}</td>
            <!-- <td>{{product.seq}}</td> -->
          </tr>
        </tbody>
      </table>
    </div>

    <ngb-pagination size="sm" [collectionSize]="totalData" [(page)]="currPage" [maxSize]="totalRecord"
      (pageChange)="loadPage()" [boundaryLinks]="true"></ngb-pagination>
  </div>
</div>