<div class="card border-primary">
    <div class="card-body">
        <h5 class="card-title">MDR Aggregator</h5>
        <div>
            <!-- SEARCH -->
            <form>
                <div class="form-group"></div>
                <div class="row">
                    <!-- <div class="col-md-3 mb-3">
                        <label for="productTypeInput">Product Type</label>
                        <input type="text" class="form-control" id="productTypeInput" [(ngModel)]='searchTerm.productType'
                            name="searchProductType" placeholder="Enter Product type">
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="productNameInput">Product Name</label>
                        <input type="text" class="form-control" id="productNameInput" [(ngModel)]='searchTerm.productName'
                            name="searchProductName" placeholder="Enter Product Name">
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="byGroupInput">By Group</label>
                        <input type="text" class="form-control" id="byGroupInput" [(ngModel)]='searchTerm.byGroupFilter'
                            name="seachByGroup" placeholder="Enter By Group">
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="byTimeInput">By Time</label>
                        <input type="text" class="form-control" id="byTimeInput" [(ngModel)]='searchTerm.byTime' name="searchByTime"
                            placeholder="Enter By Time">
                    </div> -->
                </div>
                <div class="btn-group" role="group">
                    <!-- <button type="submit" (click)="onFilter()" class="btn mr-2 btn-outline-success btn-sm">Search <i
                            class="fa fa-search fa-lg"></i></button>
                    <button type="button" (click)="resetFilter()" class="btn btn-outline-danger btn-sm">Reset <i class="fa fa-refresh fa-lg"></i></button> -->
                    <button type="button" class="btn btn-outline-primary btn-sm" (click)="open('addnew', null)">Add
                        <i class="fa fa-plus-circle fa-lg"></i>
                    </button>
                </div>
            </form>
        </div>
        <div style="height:400px; padding: 15px 15px 15px 15px;">
            <table class="table table-sm table-hover table-striped">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Group Partner</th>
                        <th scope="col">Merchant Category</th>
                        <th scope="col">Transaction Type</th>
                        <!-- <th scope="col">Mdr Type</th> -->
                        <th scope="col">Mdr</th>
                        <th scope="col">Mid Partner</th>
                        <th scope="col">Mid Aggregator</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let mdrAggregator of mdrAggregatorList">
                        <td><button type="button" (click)="open('edit', mdrAggregator)" class="btn btn-outline-success btn-sm">
                                <i class="fa fa-list"></i>
                            </button>
                            <button type="button" (click)="delete(mdrAggregator)" class="btn btn-outline-danger btn-sm">
                                <i class="fa fa-trash"></i>
                            </button></td>
                        <td>{{mdrAggregator.groupPartner}}</td>
                        <td>{{mdrAggregator.merchantCategory}}</td>
                        <td>{{mdrAggregator.transactionType}}</td>
                        <!-- <td>{{mdrAggregator.mdrType}}</td> -->
                        <td>{{mdrAggregator.mdr}}</td>
                        <td>{{mdrAggregator.midPartner}}</td>
                        <td>{{mdrAggregator.midMerchant}}</td>
                        <td>{{mdrAggregator.status == 1 ?'Approved': 'Not Approved'}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <ngb-pagination size="sm" [collectionSize]="totalData" [(page)]="currPage" [maxSize]="totalRecord" (pageChange)="loadPage()"
            [boundaryLinks]="true"></ngb-pagination>
    </div>
</div>