<div class="card border-primary">
    <div class="card-body">
        <h5 class="card-title">Merchant Bank Loan List</h5>
        <div>
            <!-- SEARCH -->
            <form>
                <div class="row">
                    <div class="col-md-3 mb-3 mt-2">
                        <label for="inputMid">Mid</label>
                        <input type="text" class="form-control" id="inputMid" [(ngModel)]='searchTerm.mid' name="searchCode"
                            placeholder="Enter Mid">
                    </div>
                    <div class="col-md-3 mb-3 mt-2">
                        <label for="inputPhoneNumber">Phone Number</label>
                        <input type="text" class="form-control" id="inputPhoneNumber" [(ngModel)]='searchTerm.phoneNumber' name="searchCode"
                            placeholder="Enter Phone Number">
                    </div>
                    <div class="col-md-3 mb-3 mt-2">
                        <label for="inputStoreName">Store Name</label>
                        <input type="text" class="form-control" id="inputStoreName" [(ngModel)]='searchTerm.storeName' name="searchCode"
                            placeholder="Enter Store Name">
                    
                    </div>
                </div>
                <button type="submit" (click)="onFilter()" class="btn mr-1 btn-outline-success btn-sm">Search <i class="fa fa-search fa-lg"></i></button>
                <button type="button" (click)="resetFilter()" class="btn  mr-1 btn-outline-danger btn-sm">Reset <i class="fa fa-refresh fa-lg"></i></button>
                <button type="button" class="btn btn-outline-primary btn-sm" (click)="open('addnew', null)">Addnew
                    <i class="fa fa-plus-circle fa-lg"></i>
                </button>
            </form>
        </div>
        <div style="height:400px; padding: 15px 15px 15px 15px; ">
            <table class="table table-sm table-hover table-striped mt-2">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Mid</th>
                        <th scope="col">Store Name</th>
                        <th scope="col">Phone Number</th>
                        <th scope="col">Bank Code</th>
                        <th scope="col">Loan Product Code</th>
                        <th scope="col">Loan Product Name</th>
                        <th scope="col">Master Bank Loan ID</th>
                        <th scope="col">Tenor</th>
                        <th scope="col">Limit</th>
                        <th scope="col">Expire Date</th>
                        <th scope="col">Uploaded By</th>
                        <th scope="col">Uploaded Date</th>
                        <!-- <th scope="col">Sequence</th> -->
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let merchantBankLoan of merchantBankLoanList">
                        <td><button type="button" (click)="open('edit', merchantBankLoan.masterBankLoanId)" class="btn btn-outline-success btn-sm">
                                <i class="fa fa-list"></i>
                            </button>
                        </td>
                        <td>{{merchantBankLoan.mid}}</td>
                        <td>{{merchantBankLoan.storeName}}</td>
                        <td>{{merchantBankLoan.phoneNumber}}</td>
                        <td>{{merchantBankLoan.bankCode}}</td>
                        <td>{{merchantBankLoan.loanProductCode}}</td>
                        <td>{{merchantBankLoan.loanProductName}}</td>
                        <td>{{merchantBankLoan.masterBankLoanId}}</td>
                        <td>{{merchantBankLoan.tenor}}</td>
                        <td>{{merchantBankLoan.limit | number}}</td>
                        <td>{{merchantBankLoan.expireDate | date: 'dd-MM-yyyy' }}</td>
                        <td>{{merchantBankLoan.uploadedBy}}</td>
                        <td>{{merchantBankLoan.uploadedAt | date: 'dd-MM-yyyy'}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <ngb-pagination size="sm" [collectionSize]="totalData" [(page)]="currPage" [maxSize]="totalRecord" (pageChange)="loadPage()"
            [boundaryLinks]="true"></ngb-pagination>
    </div>
</div>