<div class="card border-primary">
  <div class="card-body">
    <h5 class="card-title">Limit Transaction Deposit</h5>
    <div>
      <!-- SEARCH -->
      <form>
        <div class="row">
          <div class="col-md-3 mb-3 mt-2">
            <label for="role">Category</label>
            <input type="text" class="form-control" id="category" [(ngModel)]='searchTerm.category' name="searchTitle"
              placeholder="Enter Category">
            <div *ngIf="checked && (searchTerm.category == '')" style="color: red"> *Can't be blank</div>
          </div>
          <div class="col-md-3 mb-3 mt-2">
            <label for="institutionIdInput">Member Type</label>
            <input type="text" class="form-control" id="memberType" [(ngModel)]='searchTerm.memberType' name="searchMemberType"
              placeholder="Enter Member Type">
            <div *ngIf="checked && (searchTerm.memberType == '')" style="color: red"> *Can't be blank</div>
          </div>
        </div>
        <button type="submit" (click)="onFilter()" class="btn mr-1 btn-outline-success btn-sm">Search <i
            class="fa fa-search fa-lg"></i></button>
        <button type="button" (click)="resetFilter()" class="btn  mr-1 btn-outline-danger btn-sm">Reset <i
            class="fa fa-refresh fa-lg"></i></button>
        <button type="button" class="btn btn-outline-primary btn-sm" (click)="open('addnew', null)">Addnew
          <i class="fa fa-plus-circle fa-lg"></i>
        </button>
      </form>
    </div>
    <div style="height:400px; padding: 15px 15px 15px 15px; ">
      <table class="table table-sm table-hover table-striped mt-2">
        <thead>
          <tr>
            <th scope="col">Category</th>
            <th scope="col">Member Type</th>
            <th scope="col">Min Limit</th>
            <th scope="col">Max Limit</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let limitTransaction of limitTransactionList">
            <td>{{limitTransaction.category}}</td>
            <td>{{limitTransaction.memberType}}</td>
            <td>{{limitTransaction.minLimit}}</td>
            <td>{{limitTransaction.maxLimit}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <ngb-pagination size="sm" [collectionSize]="totalData" [(page)]="currPage" [maxSize]="totalRecord"
      (pageChange)="loadPage()" [boundaryLinks]="true"></ngb-pagination>
  </div>
</div>